#
# https://help.github.com/articles/dealing-with-line-endings/
#
# Set the default behaviour, in case users don't have core.autocrlf set
*               text=auto

# Explicit file endings
*.bat           text eol=crlf
*.sh            text eol=lf
*.cmd           text eol=crlf
*.ps1           text eol=crlf
